body {
    background-color: rgba(252, 250, 250, 0.733); /* bakgrunds färg till hemsidan */
    margin: 0;          /* Distans mellan alla objekt i bodyn */
    font-family: Arial, Helvetica, sans-serif;  /* Text stil i bodyn */
    font-weight: 300;    /* Hur tjock eller tunn texten är */
}
.container {    /* En class med namnet container som innehåller navigations saken längst upp på skärmen */
    width: 80%;   /* Bredden på ett element */
    margin: 0 auto;    /* Distans mellan alla objekt i containern */
}
header {   /* En tag som hanterar navbaren vilket är saken längst upp på skärmen */
    background-color: rgb(193, 33, 67);
}
header::after {  /* Clearfix, utan att skriva detta så försvinner min header/nav till 0px */
    content: '';  
    display: table;   
    clear: both;
}
.grid-container { /* Namn på class*/
    display: grid; /* Visa det hära som en grid */
    grid-template-areas: /* Positioner för class i grid */
      'Header Header Header Header Header'
      'Text1 Text1 Text1 Text1 Text1'
      'Text2 Text2 Text2 Text2 Text2'
      'Text3 Text3 Text3 Text3 Text3'
      'Text4 Text4 Text4 Text4 Text4';
    grid-gap: 50px; /* Mellan rum per cell */
    background-color: rgb(80, 74, 74); /* Bakgrundsfärg */
}
.grid-container > div { /* Div inuti class grid-container */
    background-color: white; /* Bakgrundsfärg */
    text-align: center; /* Text i mitten */
    padding: 80px; /* Kudde */ 
    font-size: 30px; /* Storlek på text */
}
.sak1 { /* Namn på class */
    grid-area: Header; /* Namn i grid-template-areas */
}
.sak3 { /* Namn på class */ 
    grid-area: Text1; /* Namn i grid-template-areas */ 
}
.sak4 { /* Namn på class */
    grid-area: Text2; /* Namn i grid-template-areas */
}
.sak5 { /* Namn på class */
    grid-area: Text3; /* Namn i grid-template-areas */ 
}
.sak6 { /* Namn på class */
    grid-area: Text4; /* Namn i grid-template-areas */
}
.grid-container2 {
    display: grid;
    grid-template-areas: 
    'Bild1 Text1'
    'Bild2 Text2'
    'Bild3 Text3';
    grid-gap: 10px;
    font-family: "Inter UI";
}
.grej1 {
    grid-area: Bild1;
    background-image: url(bild1.PNG);
    background-repeat: no-repeat;
    width: 70vh;
    height: 75vh;
    border: 5px black solid;
}
.grej2 {
    grid-area: Text1; 
    padding: 100px 20px 0 0;
    font-size: 40px;
    border: 5px black solid;
}
.grej3 {
    grid-area: Bild2;
    background-image: url(bild2.PNG);
    background-repeat: no-repeat;
    width: 51vh;
    height: 60vh;
    border: 5px black solid;
}
.grej4 {
    grid-area: Text2; 
    border: 5px black solid;
}
.grej5 {
    grid-area: Bild3;
    background-image: url(bild3.PNG);
    background-repeat: no-repeat;
    width: 65vh;
    height: 85vh;
    border: 5px black solid;
}
.grej6 {
    grid-area: Text3; 
    border: 5px black solid;
}
.logo {    /* Loggan längst upp åt vänster på skärmen */
    padding-top: 10px 0;   /* 10 pixlars bredd padding från toppen av skärmen */
    float: right;  /* Loggan ska flyta på vänster sida av containers */
}
nav {   /* En nav tag och i den så finns texten som man kan klicka på */
    float:right;  /* Får texten i denna tag att flyta på vänster sida av containern som finns längst upp på sidan */  
}
nav ul {  /*  Taggen som hanterar själva navbaren som är längst upp på skärmen */
    margin: 0;  /* Ser till att distansen från toppen inte orsakar problem senare typ */
    padding: 0;  /* Ser till att navbaren håller sig i rätt storlek */
    list-style: none; /* Tar bort en punkt jämte texten som finns vanligen */
}
nav li {  /*Taggen som hanterar texten i navbaren */
    display: inline-block;  /* Låter mig att hantera bredden och höjden av texten i detta fallet */
    margin-left: 10px;  /* Distansen mellan objekten från vänster sida */
    padding: 48px;
    text-align: center;  /* Texten säts i mitten */
}
a:hover {
    color:rgb(224, 170, 170);
}
a {
    text-decoration: none;
    color: rgb(252, 250, 250);
    font-weight: 400;
    font-family: "Inter UI";
    font-size: 24px;
    padding-left: 35px;
}
.bilder {
    border: 1px;
}
p {
    margin-top: 0; 
    font-family: "Inter UI";
}
.columns {
    padding: 100px;
    column-count: 5;
}
